name: linkcheck

on:
  push: # trigger build only when push to main
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install Python dependencies
      run: |
        sudo apt-get install python3-pip
        pip install -r requirements.txt
        pip install ghp-import
        PATH="${PATH}:${HOME}/.local/bin"

    - name: version list
      run: |
        jupyter-book --version
        pip list | grep -i docutils

    - name: run link check
      run: |
        jupyter-book build ./content --builder linkcheck
